
    body {
        overflow: hidden;
        }

    body * {
       -webkit-touch-callout: none;
         -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
                 user-select: none;
            }
            h2,
            h3 {
              margin: 10px;
              font-size: 1.2em;
            }
            p {
              font-size: 0.85em;
              margin: 3px;
              text-align: left;
              margin-left: 10px;
            }

            .map {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
            }

            .map-overlay {
              position: absolute;
              top: 0;
              right: 0;
              background: rgba(255, 255, 255, 0.8);
              margin-right: 10px;
              font-family: Arial, sans-serif;
              overflow-y: scroll;
              border-style: solid;
              border-width: 1px;
              border-radius: 3px;
            }

            .map-overlay2 {
              position: absolute;
              top: 0;
              right: 0;
              background: rgba(255, 255, 255, 0.8);
              margin-right: 10px;
              font-family: Arial, sans-serif;
              overflow-y: scroll;
              border-style: solid;
              border-width: 1px;
              border-radius: 3px;
              margin-top: 130px
            }

            html{
              overflow-y:scroll;
            }

            /*#extra-info {
              margin-bottom: 25px;
              width: 225px;
              height: 17px;
              line-height: 16px;
              text-align: middle;
            }*/

            #features {
              top: 0;
              height: 110px;
              margin-top: 10px;
              width: 275px;
              padding-left: 15px;
            }
            
            #legend {
              padding-left: 10px;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
              line-height: 18px;
              height: 69.5vh;
              /*margin-top: 130px;*/
              margin-bottom: 5px;
              width: 160px;
              overflow-y: scroll;

            }

            .legend-key {
              display: inline-block;
              border-radius: 20%;
              width: 10px;
              height: 10px;
              margin-right: 5px;
            }
